@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap');
body {
  font-family: 'lato';
}
@media (max-width: 477px) {
  body {
    min-width: 337px;
  }
}
/* Head Connect*/
.head-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.head-auth button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: 'lato';
  font-weight: 700;
  background-color: #4e5166;
}
.head-auth button:hover {
  cursor: pointer;
}
.banner-head {
  max-width: 528px;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 86px;
  min-width: 230px;
}

@media (max-width: 477px) {
  .head-auth {
    flex-wrap: wrap;
  }
}

/* Formulaire Connect */
.form-container {
  display: flex;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
}
.form-container ul {
  list-style-type: none;
  margin-right: 50px;
}

#register {
  color: #4e5166;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  background-color: #ffd7d7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-btn {
  background-color: #fd2d01 !important;
}
#register:hover {
  cursor: pointer;
}

#login {
  color: #4e5166;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  margin-top: 30px;
  padding: 20px;
  background-color: #ffd7d7;
  border-radius: 20px;
}
#login:hover {
  cursor: pointer;
}

.form-connect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 326px;
}
#sign-up-form {
  text-align: center;
}
#sign-up-form input {
  padding: 5px;
  border-radius: 10px;
  margin-top: 7px;
  border: none;
}
.form-error {
  padding: 12px !important;
  font-weight: 600;
  background-color: #fd2d01;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-error:hover {
  cursor: pointer;
}
@media (max-width: 477px) {
  .form-container {
    flex-direction: column;
  }
}

/*   POST     */
.post-user {
  width: 100%;
}
.card-home {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.link-add-post {
  text-decoration: none;
  color: #fd2d01;
  width: 100%;
}
.link-div {
  text-align: center;
  margin: 8px 0 8px 0;
}
.card-post {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 70%;
  padding: 5px;
}
@media (max-width: 600px) {
  .card-post {
    width: 95%;
  }
}
.post-img-div {
  width: 100%;
}
.post-img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}

.post-name {
  font-size: 19px;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}
.post-description {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.card-container-like {
  display: flex;
  justify-content: space-around;
}
.card-div-like {
  display: flex;
  align-items: center;
}
.hold-modify-delete {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
.card-modify a {
  text-decoration: none;
  font-weight: 700;
  color: blue;
}
.card-delete button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: 'lato';
  font-weight: 700;
  background-color: #4e5166;
}

/*  CREATE POST */
.create-post-img {
  width: 60%;
}
